mixin build_index(elements)
	each element in elements
		li
			if element.has_link
				a(href=element.place + '.html')= element.title
			else
				= element.title
			if element.children != null
				ul
					+build_index(element.children)
ul
	+build_index(index)
