doctype xml
doctype strict
html(xmlns="http://www.w3.org/1999/xhtml", lang="ja", xml:lang="ja")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(http-equiv="Content-Style-Type", content="text/css")
		link(rel="stylesheet", type="text/css", href="about.css")
		if element.previous
			link(rel="prev", href=element.previous.place + '.html')
		if element.next
			link(rel="next", href=element.next.place + '.html')
		!= '\n<!--[if lt IE 9]>'
		script(type="text/javascript", src="lib/IE9.js")
		script(type="text/javascript", src="lib/augment.min.js")
		!= '\n<![endif]-->\n'
		title= element.hierarchy >= 2 ? element.parent.title + ":" + element.title : element.title
	body
		block body
