@charset "utf-8";

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd, span, a, img, sup, sub, hr, strong,
nav, section {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
hr, nav, section {
	display: block;
}
li {
	list-style-type: none;
}
img {
	vertical-align: bottom;
}
body {
	background-color: #eee;
}
em {
	font-style: normal;
	font-weight:bold;
}
a:link {
  color : #0000FF;
}
a:visited {
  color : #4040FF;
}
a:active {
  color : #FF0000;
}
a:hover {
  color : #FF0000;
}
#page-title {
	margin: 10px 20px;
	font-size: x-large;
}
.menu-header {
	margin: 1px 20px;
	width: 90%;
	border: 1px solid #669;
	background-color: #eef;
	padding: 1px;
	text-align:center;
}
.menu-header:after {
	content: "\0020";
	display: block;
	height: 0px;
	visibility: hidden;
	clear: both;
}
.menu-header ul{
	text-align: center;
}
.menu-header ul:after{
	content: "　";
}
.menu-header li {
	float: left;
	margin-left: 10px;
}
.menu-header li a:before {
	content: "\25a0";
}
.navigation-bar {
	border: 1px solid #669;
	margin: 10px 0 0 20px;
	float: left;
	width: 25%;
	background-color: #eef;
	overflow: auto;
}
.navigation-bar h1 {
	font-size: larger;
	color: #fff;
	background-color: #669;
	padding: 3px 5px;
	text-align: center;
}
.navigation-category h1 {
	font-size: medium;
	color: #fff;
	background-color: #99c;
	text-align: left;
}
.navigation-category section h1 {
	color: #000;
	background-color: #eef;
	font-size: medium;
	border-top:1px solid #99c;
	border-bottom:1px solid #99c;
	padding: 3px 5px;
	text-align: left;
}
.navigation-bar ul {
	padding: 0 0 20px 20px;
}
.navigation-bar li {
	list-style-type: disc;
	margin-top: 3px;
	font-size: small;
}
.categories {
	float: left;
	margin: 10px 0 60px 0;
	padding-left: 20px;
	width: 65%;
}
.categories .caption {
	margin: 5px;
	padding: 5px;
	border: 1px dashed #669;
	background-color: #fef;
}
.categories .caption h1 {
	font-size: medium;
	padding: 5px;
	color: #000;
	background-color: #fef;
}
.categories .caption dt {
	font-weight: bold;
}
.categories .caption dd {
	margin-bottom: 0.5em;
}
.categories .caption .reference dd{
	margin-bottom: 0;
}
.categories .caption p {
	margin: 0.5em auto;
}
.category {
	background-color: #ffe;
	clear: left;
	border: 1px solid #669;
}
.category h1 {
	font-size: x-large;
	padding: 5px;
	color: #fff;
	background-color: #669;
}
.category>dl{
	margin-bottom:20px;
}
.category h2 {
	font-size: x-large;
	padding: 5px;
	border-top:1px solid #669;
	border-bottom:1px solid #669;
}
.category strong {
	font-weight: normal;
	color : #009900;
}
.category dt.entry {
	font-size: large;
	font-weight: bold;
	border-left: 7px solid #94A5F7;
	border-bottom: 1px solid #94A5F7;
	margin: 5px 3px 5px 3px;
	padding: 2px 2px 2px 5px;
	clear: left;
	background-color: #eef;
}
.category .description {
	margin: 5px 5px 5px 15px;
}
.category .description dt {
	margin: 15px 5px 5px 0px;
	border-left: 7px solid #cccc99;
	padding: 0 0 0 5px;
}
.category .description dd {
	margin: 5px 5px 15px 20px;
	border-left: 1px solid #cccc99;
	padding: 0 0 0 5px;
}
.category .default {
	margin: 5px 5px 5px 15px;
	font-style: italic;
	font-size: small;
	color: #666;
}
.category .default:before {
	content: "既定値: ";
}
.category .reference {
	margin: 5px 5px 5px 15px;
	padding: 2px;
	background-color: #aba;
}
.category .reference dt {
	font-weight: bold;
	float: left;
	clear: left;
	padding: 5px;
	min-width: 7em;
	_width: 7em;
}
.category .reference dt:after {
	content: ":";
}
.category .reference dd {
	padding: 5px 5px 5px 10px;
	overflow: hidden;
	background-color: #efe;
	_word-break: break-all;
	_height: 1em;
	_overflow-y: visible;
}
.category .reference dd:nth-of-type(odd) {
	background-color: #ded;
}
.category .reference dd dt {
	min-width: 0;
}
.category .reference dd dd:nth-of-type(even) {
	background-color: #ded;
}
.category .supported-baseware {
	margin: 0 0 30px 15px;
}
.category .supported-baseware li {
	float: left;
	margin-left: 5px;
}
.category .remarks {
	margin: 5px 5px 5px 15px;
	padding: 5px;
	border: 1px dashed #669;
}
.category .remarks p {
	margin: 0.5em auto;
}