@charset "utf-8";
/* 京 */

body,p,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,img,em,strong,blockquote,dfn,code,samp,pre,del,ins,table,th,td{
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-indent: 0;
	white-space: normal;
	margin: 0;
	padding: 0;
	outline-style: none;
}

html{
	background-color: #ffffff;
}
body{
	background-image: url(image/shade_v.png);
	background-repeat: repeat-y;
	background-position: center top;
	width: 800px;
	margin: 0 auto;
	color: #333333;
	font-size: 12px;
}
body.menubody{
	background-image: none;
}
p{
	line-height:1.2em;
	margin:1px 0;
}
h1{
}
.menuframe h1{
	width: 190px;
	margin: 0 5px;
	padding-bottom: 6px;
	border-bottom: 2px solid #7bb56b;
	color: #646464;
	font-weight: bold;
}
h2{
	width: 100%;
	font-weight: bold;
	padding-bottom: 6px;
	border-bottom: 2px solid #7bb56b;
}
h3{
	font-weight: bold;
	margin-top: 1.5em;	
}
h3.component{
	font-weight: normal;
	color: #006600;
}
h3#manual_seriko{
	color: #006600;
}
h3#manual_mayuna{
	color: #006600;
}
table{
	margin:2px 0;
	border: 1px solid #333333;
	border-collapse: collapse;
	font-size: 14px;
}
th{
	padding: 3px;
	border: 1px solid #333333;
	text-align: left;
}
td{
	padding: 3px;
	border: 1px solid #333333;
	text-align: center;
}
table.exmp-surface{
	margin: 1.2em 0 3px 0;
	border: none;
	border-collapse: collapse;
}
.exmp-surface th,.exmp-surface td{
	padding: 1px;
	border: none;
}
table.exmp-surfacenum{
	margin: 1em 0;
	border: none;
	border-collapse: collapse;
	font-size: 12px;
	border-collapse: separate;
	border-spacing: 2px 0;
}
.exmp-surfacenum th,.exmp-surfacenum td{
	padding: 0 1px;
	border: none;
	text-align:left;
}
.head-row>th:first-child{
	font-weight: bold;
}
ul{
	margin-left:1em;
}
ul.notelist{
	list-style-type: none;
}
ul.notelist li{
	margin: 1em 0;
}
.menuframe h1{
	margin-bottom: 0.5em;
}
.menuframe li{
	margin: 1px 0;
}
.menuframe ul{
	margin-left: 2.2em;
	margin-bottom: 1.5em;
	list-style-type: none;
	list-style-image: url(image/icon_doc.png);
}
.menuframe ul ul{
	margin-left: 0;
	margin-bottom: 1em;
	list-style-image: none;
	list-style-type: disc;
}
.menuframe ul h2{
	margin: 0;
	padding: 0;
	border: none;
	font-weight: normal;
}
.menuframe ul ul li{
	margin: 0;
	margin-right: 0.5em;
	margin-top: 0.2em;
	padding: 0;
	color: #94de84;
}
.menuframe ul.doctype-manual {
	list-style-image: url(image/icon_doc-r.png);
}
.menuframe ul.doctype-manual ul li {
	color: #de8494;
}
.menuframe ul.doctype-list{
	list-style-image: url(image/icon_doc-b.png);
}
.menuframe ul.doctype-list ul li {
	color: #9484de;
}
.menuframe ul.doctype-others{
	list-style-image: url(image/icon_doc-y.png);
}
.menuframe ul.doctype-others ul li {
	color: #dede84;
}
pre{
	line-height:1.2em;
	white-space: pre;
	font-family: sans-selif;
}
pre.exmp-descript{
	color: #006600;
}
pre.exmp-descript2{
	color: #808080;
}
em{
	color: #006600;
}
strong{
	color: #ff0000;
}



a:link{
	color: #0000f0;
	text-decoration: none;
}
a:visited{
	color: #4040f0;
	text-decoration: none;
}
a:active{
	position:relative;
	top:1px;
	left:1px;
	color: #f00000;
	text-decoration: none;
}
a:hover{
	position:relative;
	top:1px;
	left:1px;
	color: #f00000;
	text-decoration: none;
}
.menuframe a:link{
	color: #0000f0;
	text-decoration: none;
}
.menuframe a:visited{
	color: #4040f0;
	text-decoration: none;
}
.menuframe a:active{
	position:relative;
	top:0;
	left:0;
	color: #f00000;
	text-decoration: none;
}
.menuframe a:hover{
	position:relative;
	top:0;
	left:0;
	color: #f00000;
	text-decoration: none;
}
.disc2-author a:link{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
.disc2-author a:visited{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
.disc2-author a:active{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
.disc2-author a:hover{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
.disc2-author a:active{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}



.baseframe{
	border: 0;
	width: 750px;
	margin: 0 auto;
}
.menuframe{
	width: 800px;
	color: #333333;
	font-size: 12px;
	overflow: hidden
}
.head{
	height: 174px;
	background-image: url(image/shade_h.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.body{
	position: relative;
	width: 750px;
	min-height: 1400px;
	margin-top: 0.5em;
}
.sidebar{
	float: left;
	width: 200px;
}
.text{
	float: right;
	width: 540px;
	padding-right: 10px;
	padding-bottom: 1em;
}
.chapter{
	border-top: 2px solid #7bb56b;
	margin-bottom: 1.5em;
}
h2+.chapter{
	border: none;
}
.section{
	margin-bottom: 2.5em;
	line-height: 1.2em;
}
.chapter .section{
	margin:1em 0;
}
.directory{
	color: #808080;
}
.foot{
	clear: both;
	padding: 5px;
	background-color: #94de84;
	font-size: small;
}
.disc2-author{
	float: left;
	color: #ffffff;
	font-weight: bold;
}
.disc2-banner{
	margin-right: 1em;
	text-align: right;
}
