h1 検索
p 検索する単語を入れてください。
p
	input#query(type="text")
dl#results
script(type="text/javascript", src="lib/lunr-ie7.js")
script(type="text/javascript", src="lib/tiny_segmenter-0.2.js")
script(type="text/javascript", src="lib/jquery.min.js")
script(type="text/javascript", src="lib/all-site-search-ie8.js")
script(type="text/javascript", src="lib/ass_page.js")

