extends layout
block body
	#menu
		#search
			p
				label
					| 検索
					input#query(type="text")
			script(type="text/javascript", src="lib/lunr-ie7.js")
			script(type="text/javascript", src="lib/tiny_segmenter-0.2.js")
			script(type="text/javascript", src="lib/jquery.min.js")
			script(type="text/javascript", src="lib/all-site-search-ie8.js")
			script(type="text/javascript", src="lib/ass_page.js")
		#index
			include index
	#main
		unless element.root
			#breadcrumb
				mixin breadcrumb(element)
					if element.parent != null
						+breadcrumb(element.parent)
							li
								if element.has_link
									a(href=element.place + '.html')= element.title
								else
									= element.title
							if block
								block
					else
						li
							if element.has_link
								a(href=element.place + '.html')
									if element.root
										= element.root_title
									else
										= element.title
							else
								if element.root
									= element.root_title
								else
									= element.title
						if block
							block
				ul
					+breadcrumb(element)

		#contents
			a#translate-link(href="#") 翻訳(Translate)
			script(type="text/javascript").
				(function () {
				var el = document.getElementById('translate-link');
				if (!el) { return; }
				el.onclick = function () {
				var loc = window.location;
				// ホスト名のドットをハイフンに置換
				var translatedHost = loc.hostname.replace(/\./g, '-') + '.translate.goog';
				// パス・クエリ・ハッシュ
				var path = loc.pathname;
				var search = loc.search;
				var hash = loc.hash || '';
				// 翻訳パラメータを追加
				var params = '_x_tr_sl=ja&_x_tr_tl=en&_x_tr_hl=ja&_x_tr_pto=wapp';
				var sep = (search && search.length > 0) ? '&' : '?';
				var target = 'https://' + translatedHost + path + search + sep + params + hash;
				window.location.href = target;
				return false; // デフォルトリンク動作を防ぐ
				};
				})();
			!= contents
		#navigation
			ul
				if element.previous
					li.previous
						a(href=element.previous.place + '.html')= element.previous.hierarchy >= 2 ? element.previous.parent.title + ":" + element.previous.title : element.previous.title
				if element.next
					li.next
						a(href=element.next.place + '.html')= element.next.hierarchy >= 2 ? element.next.parent.title + ":" + element.next.title : element.next.title
